/* header css */
.navbar .navbar-brand{
    font-size: 2rem;
}
.navbar input{
    width: 300px;
}
.navbar .nav-item{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 15px;
}
/* header css */
